/*
  Some addition styles for Orbis based on Bootstrap
  Addtions & adjustments made by Pronamic
*/

/* Body and structure
-------------------------------------------------- */

body {
	background: #f6f6f6 url("../img/misc/body-texture.png");

	position: relative;

	padding-top: 80px;
}

/* Definition list
------------------------- */
dl {
	margin: 0;
}

dd {
	margin-bottom: 10px;
}

/* Global
------------------------- */
span {
	color: #999;

	font-size: 12px;
}

a.badge:hover {
	background: #0088cc;
}

.content.no-padding h4 {
	margin-top: 0;
}

ul.list li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body.admin-bar .navbar-fixed-top {
	top: 28px;
}

.navbar-inverse .nav > li > a {
	color: #bbb;
}

.with-cols {
	background: url("../img/misc/line.png") center center repeat-y;
}

@media (max-width: 767px) { 
	.with-cols {
		background: none;
	}
}

.no-disc {
	list-style: none;

	margin: 0;
	padding: 0;
}

blockquote p {
 	font-size: 14px;
 	font-weight: normal;
  
    line-height: 20px;

	margin-bottom: 15px;
}

/* Navigation
------------------------- */
.nav .avatar {
	margin: -2px 4px;
}

/* Intro
------------------------- */

.hero-unit {
	border: 1px solid #ddd;
}

.hero-unit h1 {
	margin-bottom: 10px;
}

.hero-unit p {
	line-height: 26px;
}

.hero-unit ul {
	font-size: 18px;
	line-height: 26px;

	margin-bottom: 20px;
}

.hero-unit li {
	margin: 5px 0;
}

/* Panel
------------------------- */
.panel {
	background: #fff;

	border: 1px solid #c3c3c3;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
    border-radius: 4px;

	-moz-box-shadow: 1px 1px 3px #e7e7e7;
	-webkit-box-shadow: 1px 1px 3px #e7e7e7;
	box-shadow: 1px 1px 3px #e7e7e7;

	margin-bottom: 30px;
}

.panel .content {
	padding: 20px;
}

.panel header {
	background: #ececec;

    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e8e8e8)); 
	background: -moz-linear-gradient(top,  #fcfcfc,  #e8e8e8);

	border-bottom: 1px solid #c3c3c3;

	padding: 0 10px;
}

.panel footer {
	background: #fafafa;

	padding: 20px;

    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.panel h3 {
	font-size: 18px;

	margin: 0;
}

.panel p:last-child {
	margin: 0;
}

header.with-tabs {
    padding-top: 10px;
}

header.with-tabs .nav-tabs {
    border: medium none;
    margin: 0;
}

header.with-tabs .nav-tabs > .active > a,
header.with-tabs .nav-tabs > .active > a:hover {
    border-color: #C3C3C3 #C3C3C3 #FFFFFF;
}

/* List
------------------------- */
ul.list {
	margin: 0;
	padding: 0;

	list-style: none;
}

ul.list li {
	border-bottom: 1px solid #ddd;
}

ul.list a {
	display: block;

	padding: 6px;
}

ul.list a .comment {
	display: none;

	float: right;
}

ul.list a:hover .comment {
	display: inline;
}

/* Activities
------------------------- */
.panel.activities {
	font-size: 12px;

	min-height: 400px;
}

.panel.activities span.label {
	display: inline-block;

	min-width: 60px;
	
	font-weight: normal;
	font-size: 11px;

	margin-right: 10px;

	text-align: right;
}

.panel.activities ul {
	list-style: none;
	
	margin: 0;
	padding: 0;
}

.panel.activities li {
	padding: 1px 0;
}

.panel strong.important {
	font-size: 36px;
	
	line-height: 36px;
}

/* Persons
------------------------- */
ul.list.persons li {
	padding: 10px;
}

.person-wrapper {
	display: table;
}

.person-wrapper img {
	margin-right: 10px;
}

.person-wrapper p {
	display: inline-block;

	line-height: 16px;

	margin: 0;
}

ul.list.persons li .person-wrapper a,
.person-wrapper a {
	display: inline-block;

	font-size: 18px;

	padding: 0;
}

.person-wrapper .avatar,
.person-wrapper .details {
	display: table-cell;

	vertical-align: top;
}

/* Search
------------------------- */
#advanced-search fieldset {
	margin-top: 20px;
}

.advanced-search-link {
	margin-left: 20px;
}

/* News
------------------------- */
.news img {
	margin-bottom: 10px;
}

.news h4 {
	margin-top: 0;
}

/* Stats
------------------------- */
.stats .col {
	text-align: center;
}

.stats .important {
	font-size: 48px;
	line-height: 48px;

	font-weight: bold;
}

/* Posts
------------------------- */
.post {
	border-bottom: 1px solid #ddd;
}

.post h2 {
	margin: 0;
}

.post .entry-content {
	padding: 20px 0;
}

.post.sticky {
	background: #fcf8e2;
}

.thumbnail {
	float: left;

	margin: 0 20px 20px 0;
}

/* Table
------------------------- */
.panel table {
	border: none;
	
	margin: 0;
}

.panel table th:first-child,
.panel table td:first-child {
	border-left: none;
}

table td.project-time {
	font-size: 18px;
}

table tr.orbis-status-finished,
table tr.orbis-status-finished a {
	color: #999;
}

table tr.orbis-status-cancelled,
table tr.orbis-status-cancelled a,
.single .orbis-status-cancelled .page-header {
	color: #999;

	text-decoration: line-through;
}

table tr.failed td.project-time {
	color: #ff0000;
}

table .actions {
	visibility: hidden;
}

table tr:hover .actions {
	visibility: visible;
}

table tr.canceled {
	color: #999;

	text-decoration: line-through;
}

/* Well
------------------------- */
.panel .well {
	border-bottom: 1px solid #ddd;

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;

	border-radius: 0;

	margin: 0;
}

.panel .well .nav,
.panel .well form {
	margin: 0;
}

/* Page header
------------------------- */
.page-header {
	border-color: #ddd;

	margin: 0 0 30px 0;
	padding: 10px 0;
}

.page-header h1 {
	font-size: 30px;
	
	margin: 0;
}

.page-header h1 small {
	font-size: 18px;
}

/* Single
------------------------- */
p.project-time {
	font-size: 36px;
	line-height: 42px;

	font-weight: bold;
}

/* Comments
------------------------- */
.commentlist {
	list-style: none;

	margin: 0;
}

.commentlist li.comment {
	border-bottom: 1px solid #ddd;

	margin: 0 0 24px 0;

	padding: 0 0 0 76px;

	position: relative;
}

.commentlist li:last-child {
	border-bottom: none;

	margin-bottom: 0;
}

#comments .comment-content {
	background: #fff;

	border: 1px solid #ddd;

	border-radius: 4px;

	margin-bottom: 1.625em;
	padding: 19px;
}

#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}

#comments .comment-body p:last-child {
	margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}

.commentlist ol {
	list-style: decimal;
}

.commentlist .avatar {
	position: absolute;
	top: 0;
	left: 0;
}

.commentlist img.avatar {
	border-radius: 100px;
}

.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
	
	font-size: 16px;
}

.comment-meta {
	font-size: 12px;

	margin: 0 0 18px 0;
}

.comment-meta a:link,
.comment-meta a:visited {
	color: #999;
}

.comment-meta a:active,
.comment-meta a:hover {
	color: #000;
}

.reply {
	font-size: 12px;

	margin-top: 20px;
}

.reply a,
a.comment-edit-link {
	color: #999;
}

.reply a:hover,
a.comment-edit-link:hover {
	color: #000;
}

.commentlist .children {
	list-style: none;

	margin: 0;
}

.commentlist .children li {
	border: none;

	margin: 0;
}

.nopassword,
.nocomments {
	display: none;
}

#comments .pingback {
	border-bottom: 1px solid #e7e7e7;

	margin-bottom: 18px;
	padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
	margin-top: -6px;
}

#comments .pingback p {
	color: #999;

	display: block;

	font-size: 12px;
	line-height: 18px;

	margin: 0;
}

#respond {
	overflow: hidden;

	position: relative;
}

#respond p {
	margin: 0;
}

#respond .comment-notes {
	margin-bottom: 1em;
}

.form-allowed-tags {
	line-height: 1em;
}

.children #respond {
	margin: 0 48px 0 0;
}

h3#reply-title {
	margin-bottom: 5px;
}

#comments-list #respond {
	margin: 0 0 18px 0;
}

#comments-list ul #respond {
	margin: 0;
}

#cancel-comment-reply-link {
	display: block;

	font-size: 12px;

	margin-bottom: 15px;
}

#respond .required {
	color: #ff4b33;

	font-weight: bold;
}

#respond label {
	color: #888;

	font-size: 12px;
}

#respond textarea {
	width: 98%;
}

#respond .form-allowed-tags {
	color: #888;

	font-size: 12px;
	line-height: 18px;
}

#respond .form-allowed-tags code {
	font-size: 11px;
}

#respond .form-submit {
	margin: 12px 0;
}

#respond .form-submit input {
	width: auto;
}

/* Subscribe to comments */
p.subscribe-to-comments label {
	display: inline;
}

/* Social
------------------------- */
ul.social {
	margin: 5px 0 0 0;
	padding: 0;

	list-style: none;
}

ul.social li {
	float: left;

	margin-right: 5px;
}

ul.social li a {
	background: red;

	display: block;

	width: 24px;
	height: 24px;

	text-indent: -9999px;
}

ul.social li.twitter a { background: url("../img/icons/twitter.png") no-repeat; }
ul.social li.facebook a { background: url("../img/icons/facebook.png") no-repeat; }
ul.social li.linkedin a { background: url("../img/icons/linkedin.png") no-repeat; }

/* Footer
------------------------- */
#footer {
	color: #999;

	font-size: 11px;

	padding: 60px 0 100px 0;

	text-align: center;
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
	/* Remove any padding from the body */
	body {
    	padding-top: 0;
	}
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
	/* Remove any padding from the body */
	body {
    	padding-top: 0;
	}
}

/* Twitter
------------------------- */
body .twtr-tweets {
	font-size: 12px;
}

body .twtr-tweet {
	padding: 5px;
}

body .twtr-widget p {
    line-height: 1.3 !important;
}

body .twtr-hd {
	display: none;
}

body .twtr-ft {
	display: none;
}
